:root {
  --nprogress-color: #0062ff;
  --nprogress-height: 2px;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: var(--nprogress-color);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nprogress-height);
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--nprogress-color);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
